  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Tipografía */
    --font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-portada-title: "Montserrat", sans-serif;
    --font-portada-subtitle: "Montserrat", sans-serif;
    --font-about-us-card-title: "DejaVu Sans Condensed", sans-serif;
    --font-about-us-card-subtitle: "Calibri", sans-serif;
    --font-card-icon: "Montserrat", sans-serif;
    --font-footer: "Montserrat", sans-serif;

    /* Colores de texto */
    --section-title-color: rgb(230, 230, 230);
    --section-title-line-main-color: #616261;
    --section-title-line-secondary-color: #ddd;
    --gradient-text: linear-gradient(90deg, #98b7ea, #ebebeb, #9f9d9d);
    --icon-link-color: #5c5c5c;
    --icon-link-hover-color: #8f8f8f;
    --footer-icon-link-color: #5c5c5c;
    --footer-icon-link-hover-color: #ffffff;

    /* Fondos */
    --bg-portada-gradient: linear-gradient(rgb(28, 28, 28), rgb(32, 32, 32));
    --bg-header: rgba(50, 50, 50, 0.95);
    --bg-sky: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.00)), url("/src/img/decoration/sky.jpg");
    --bg-section: linear-gradient(rgb(28, 28, 28), rgb(32, 32, 32));
    --bg-section-alt: linear-gradient(rgb(16, 16, 16), rgb(23, 23, 23));
    --bg-servicios: #272727;
    --bg-elem-servicios: rgba(240, 248, 255, 0.02);
    --bg-elem-servicios-shade: linear-gradient(rgba(0, 0, 0, 0), #353535, rgba(0, 0, 0, 0));

    /* Bordes */
    --border-elem-servicios-hr-properties: 1px solid;

    /* Colores de bordes */
    --border-elem-servicios: linear-gradient(90deg, rgb(225, 0, 0), rgb(0, 60, 177)) 1;
    --border-elem-servicios-shade: linear-gradient(90deg, rgb(0, 60, 177), rgb(225, 0, 0)) 1;
    --border-elem-servicios-hr: linear-gradient(90deg, rgb(213, 213, 213), rgb(94, 94, 94)) 1;
    --border-elem-servicios-shade-hr: linear-gradient(90deg, rgb(94, 94, 94), rgb(213, 213, 213)) 1;

    /* Logos de clientes */
    --logo-visuals: grayscale(95%) opacity(0.85) brightness(140%);
    --logo-visuals-hover: grayscale(95%) opacity(1) brightness(160%);

    /* Imágenes del equipo */
    --team-img-visuals: grayscale(100%) brightness(105%) contrast(105%);
  }

  /* propio */

  html, body, #root {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: var(--font-primary), serif;
  }

  * {
    box-sizing: border-box;
  }

  .bg-section {
    background-image: var(--bg-section);
  }

  .bg-section-alt {
    background-image: var(--bg-section-alt);
  }

  .gradient-text {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Para: Cabecera/menú de navegación superior */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent;
    transition: all 0.25s ease;
    height: 92px;
    font-family: "Montserrat", sans-serif;
  }

  .header-scrolled {
    background: var(--bg-header);
    padding: 20px 40px 10px 40px;
    height: 75px;
  }

  .header-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    overflow: hidden;
    float: right;
    margin-top: 5px;
  }

  .logo {
    width: auto;
    height: 3rem;
    margin-right: 25px;
    filter: brightness(100%);

    transition: 0.2s;
  }

  .logo:hover {
    filter: brightness(110%);
  }

  .menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;

    position: relative;
    top: -5px;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .menu-close {
    display: none;

    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    margin: 5px 15px 0 0;
  }

  @media (max-width: 900px) {

    .menu-toggle {
      display: block;
    }

    .nav-wrapper {
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 260px;

      background: var(--bg-header);

      display: flex;
      flex-direction: column;

      padding-top: 50px;
      padding-right: 50px;

      overflow-y: auto;

      transition: right 0.3s ease;
    }

    .nav-open {
      right: 0;
    }

    .menu-close {
      display: block;
    }

    .header-list {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .header-item {
      margin: 10px 0;
    }

    .language-ddl {
      margin-bottom: 30px;
    }
  }

  .header-item a {
    color: white;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: filter 0.2s;
  }

  .header-item img {
    height: 40px;
    width: auto;
    display: block;
  }

  .header-item a:hover {
    color: white;
    filter: brightness(35%);
  }

  /* Para: Selector DDL de idioma */

  .lang-ddl-btn {
    background: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
  }

  .language-ddl {
    position: relative;
    display: inline-block;
  }

  .lang-ddl-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .lang-ddl-content a {
    color: #515151;
    padding: 8px 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7.5px;
    font-weight: bold;

    transition: 0.15s;
  }

  .lang-ddl-content a:hover {
    background-color: #f1f1f1
  }

  .language-ddl:hover .lang-ddl-content {
    display: block;
  }

  .language-ddl:hover .lang-ddl-btn {
    filter: brightness(35%);
  }

  /* Para: Sección de la portada */

  #seccion-portada {
    padding-top: 190px;
    padding-bottom: 190px;

    background-image: var(--bg-portada-gradient);
    background-size: cover;
  }

  #seccion-portada a {
    display: block;
    width: fit-content;
    margin: auto;
  }

  #seccion-portada h3 {
    color: white;
    text-shadow: 2px 2px 0 #808080;
    font-size: 60px;
    font-weight: 800;
    text-align: center;

    font-family: var(--font-portada-title), serif;

    margin: 0 0 20px 0;
    padding: 0;
  }

  #seccion-portada h6 {
    text-shadow: 2px 3px 0 #4c4c4c;
    text-align: center;
    margin-top: 0;

    font-style: italic;

    font-family: var(--font-portada-subtitle), serif;

    font-size: 32px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 3px;
    color: #b8b8b8;
  }

  #img-ia {
    display: block;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    opacity: 0.9;

    width: 45vw;
    max-width: 700px;
    height: auto;
  }

  #logo-portada {
    display: block;
    margin: auto;
    opacity: 0.9;

    width: 60vw;
    max-width: 700px;
    height: auto;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.94);
  }

  /* Para: Sección de servicios */

  #grid-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    background-color: var(--bg-servicios);
    overflow: hidden;
  }

  .elem-servicios {
    border: 5px solid;
    border-image: var(--border-elem-servicios);
  }

  .elem-servicios-shade {
    border: 5px solid;
    border-image: var(--border-elem-servicios-shade);
  }

  .elem-servicios,
  .elem-servicios-shade {
    padding: 30px 20px;
    margin: 10px;

    background-color: var(--bg-elem-servicios);

    opacity: 0;
    transform: scale(1.2);
    transition: opacity 0.6s ease, transform 0.6s ease;
    transform-origin: center center;
  }

  .elem-servicios hr, .elem-servicios-shade hr {
    border: var(--border-elem-servicios-hr-properties);
  }

  .elem-servicios hr {
    border-image: var(--border-elem-servicios-hr);
  }

  .elem-servicios-shade hr {
    border-image: var(--border-elem-servicios-shade-hr);
  }

  .elem-visible {
    opacity: 1;
    transform: scale(1);
  }

  .elem-servicios-shade {
    background-image: var(--bg-elem-servicios-shade);
  }

  .elem-servicios img, .elem-servicios-shade img {
    max-height: 44px;
    display: inline-block;
    line-height: 1;
  }

  .elem-servicios h4, .elem-servicios-shade h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
    color: #fff;
    filter: brightness(50%);
  }

  .elem-servicios p, .elem-servicios-shade p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
  }

  /* Para: Sección sobre nosotros */

  #about-us {
    position: relative;
    padding: 0 60px;
    overflow: hidden;
  }

  #about-us::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--bg-sky);

    background-size: cover;
    background-attachment: fixed;
    background-position: top;

    filter: grayscale(100%);
    z-index: -1;
  }

  .about-us-container {
    padding: 50px 1%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    margin: 0;
    text-align: center;

    font-size: 32px;
    color: var(--section-title-color);
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
  }

  .section-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--section-title-line-secondary-color);
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--section-title-line-main-color);
    bottom: 0;
    left: calc(50% - 20px);
  }

  /* Para: Tarjetas de la sección sobre nosotros */

  #about-us-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 40px;
    max-width: 1200px;

    margin: 0 auto;
    padding: 95px 40px 40px 40px;

    align-items: stretch;
  }

  .about-us-card {
    display: grid;
    grid-template-columns: 1fr 2fr;

    transition: opacity 0.3s ease, transform 0.3s ease;

    opacity: 0;
    transform: translateY(40px);

    height: 100%;
  }

  @media (max-width: 700px) {
    .about-us-card {
      grid-template-columns: 1fr;
    }

    .card-text, .about-us-card h2 {
      text-align: center;
    }
  }

  .about-us-card:hover {
    transform: scale(1.05);
  }

  .card-imgs:hover .card-icon-container {
    background-color: #ffffff;
    border-color: #424242;
  }

  .card-imgs:hover .card-icon {
    color: #424242;
  }

  .card-imgs {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 3%;

    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 64px;
    height: 64px;

    filter: grayscale(100%);

    background-color: #424242;
    border-radius: 50%;
    border: 4px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
  }

  .card-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #ffffff;
    font-family: var(--font-card-icon), serif;
    font-weight: 100;
    font-size: 1.75rem;
    text-align: center;

    margin: 0 0 20px 0;
    line-height: 1.2;
  }

  .card-icon-container {
    width: 64px;
    height: 64px;
    position: absolute;

    transition: 0.3s;
  }

  .card-icon-img {
    width: 40px;
    height: auto;
  }

  .about-us-card h2 {
    width: fit-content;
    color: #ececec;

    margin-top: 8px;
    padding: 0 20px 0 20px;

    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-about-us-card-title), serif;

    transition: 0.3s;
  }

  .about-us-card p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    font-family: var(--font-about-us-card-subtitle), sans-serif;

    line-height: 24px;
    color: #a8a8a8;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }

  /* Para: sección de clientes */

  .clients-section {
    padding: 50px 1%;
  }

  .clients-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 20px 20px 20px;
  }

  .client-item {
    width: 100%;
    margin: 0 auto;
  }

  .client-item img {
    width: 100%;
    object-fit: cover;
    filter: var(--logo-visuals);
    transition: 0.3s;
  }

  .client-item:hover img {
    filter: var(--logo-visuals-hover);
    transform: scale(1.05);
  }

  /* Para: sección del equipo */

  #team {
    position: relative;
    padding: 0 60px;
    overflow: hidden;
  }

  #team::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--bg-sky);

    background-size: cover;
    background-attachment: fixed;
    background-position: top;

    filter: grayscale(100%);
    z-index: -1;
  }

  .team-container {
    padding: 50px 4%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 35px 20px 20px 20px;
  }

  .team-card {
    margin: 0 auto;

    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.94);
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    transition: opacity 0.3s ease, transform 0.3s ease;

    opacity: 0;
    transform: translateY(40px);
  }

  .card-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .team-card:hover {
    transform: scale(1.01);
  }

  .team-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    filter: var(--team-img-visuals);
  }

  .team-card-content {
      display: flex;
      flex-direction: column;
      padding: 5px;
      flex: 1;
  }

  .team-card h4 {
    margin: 20px 0 0 0;
    color: #535353;
  }

  .team-card h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    color: #676767;
    padding-bottom: 20px;
  }

  .team-links {
    margin-top: auto;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;

    border-radius: 5px;
    padding: 0 5px 0 5px;

    transition: 0.3s;
    transform-origin: center;
  }

  .team-links:hover {
    background-color: #cccccc;
    border-radius: 5px;

    transform: scale(1.1);
  }

  .team-card a {
    margin: 5px;
    display: inline-flex;
  }

  .icon {
    font-size: 20px;
    color: var(--icon-link-color);

    transition: 0.3s;
  }

  .icon:hover {
    color: var(--icon-link-hover-color);
  }

  /* Para: footer */

  .footer-separation {
    background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgb(18, 18, 18));
  }

  footer {
    background-color: #000000;
  }

  .footer {
    background-color: #121212;
    font-family: var(--font-footer), serif;
    font-weight: 700;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 50px;
  }

  .company-container, .info {
    display: flex;
    flex-direction: row;
  }

  .company-container {
    height: 5vh;
    justify-content: center;
    align-items: center;
    vertical-align: center;
  }

  .grey-wall {
    background-color: #6a6a6a;
    width: 5px;
    height: 100%;
    margin-right: 5px;
  }

  .company-container h2 {
    margin: 0;
  }

  .footer-container hr {
    border: none;
    height: 2px;
    background-color: #8c8c8c;
  }

  .block-arrow {
    margin-top: 1px;
  }

  .footer-block p, .footer-block a {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;

    transition: 0.2s;
  }

  .footer-block a:hover {
    color: #5e5e5e;
  }

  .footer-block hr {
    background-color: #424242;
    height: 1px;
    border: none;
  }

  .footer-container .icon {
    font-size: 35px;
    color: var(--footer-icon-link-color);
  }

  .footer-container .icon:hover {
    color: var(--footer-icon-link-hover-color);
  }

  .footer-container a, .footer-container p {
    display: inline-flex;
    margin: 0 5px 0 5px;
  }

  .footer-copyright {
    padding: 30px 0 30px 0;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }

  .footer-copyright h6, .footer-copyright a {
    margin: 0;
    width: auto;
    color: #8c8c8c;
    font-weight: 100;
    font-size: 13px;

    transition: 0.2s;
  }

  .footer-copyright a:hover h6 {
    color: #c1c1c1;
  }

  /* Generado por WebStorm */

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
